/*animate page*/
.animate-in {
  -webkit-animation: fadeIn .8s ease-in;
  animation: fadeIn .8s ease-in;
}

.animate-out {
  -webkit-transition: opacity .8s;
  transition: opacity .8s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

body
{
  padding: 0;
  margin: 0;
}

* ,html 
{
  font-family: 'Open Sans', sans-serif;
}

.video_comp
{
  margin: 0;
  position: fixed;
  top: 50%;
  left: 20%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-60%, -50%);
}

.b_right
{
  position: fixed;
  bottom: 20px;
  right: 40px;
}

.l_right
{
  position: fixed;
  bottom: 20px;
  left: 40px;
}

.t_left
{
  position: fixed;
  top: 30px;
  left: 40px;
}

.t_right
{
  position: fixed;
  top: 30px;
  right: 50px;  
}

.l_right a, .b_right a, .t_right a, .t_left a
{
  text-decoration: none;
  color: black;
}


.link {
  position: relative;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.link:before,
.link:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 50%;
  background: #4ECA78;
  top: calc(50% + 2px);
  transition: transform .3s cubic-bezier(.5,.5,0,1);
}

.link:before {
  left: 0;
  transform: translateX(calc(-100% - 10px)) scaleX(0);
  transform-origin: left;
}

.link:after {
  right: 0;
  transform: translateX(calc(100% + 10px)) scaleX(0);
  transform-origin: right;
}

.link:hover:before {
  transform: translateX(calc(-100% - 10px)) scaleX(1);
  transform-origin: right;
}

.link:hover:after {
  transform: translateX(calc(100% + 10px)) scaleX(1);
  transform-origin: left;
}

.cards
{
  position: absolute;
  left: 40%;
  top: 22%;
  width: 680px;
  height: 450px;
  overflow: overlay;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90,0);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.row
{
  margin-left: 10px;
  margin-top: 10px;
}

.row:after
{
  content: "";
  display: table;
  clear: both;
}

.row p
{
  margin-top: -5%;
}
.column {
  float: left;
  width: 40%;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

.card1
{
  background-image: url("https://i.imgur.com/kDN9m5P.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card2
{
  background-image: url("https://i.imgur.com/wSs7CGK.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card3
{
  background-image: url("https://i.imgur.com/q3h9E6P.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card4
{
  background-image: url("https://i.imgur.com/wwxqCrt.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card5
{
  background-image: url("https://i.imgur.com/cv6lSSc.png?1");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card6
{
  background-image: url("https://i.imgur.com/yoMabgW.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card7
{
  background-image: url("https://i.imgur.com/I1ZWtSF.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card8
{
  background-image: url("https://i.imgur.com/nq6MhEg.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card9
{
  background-image: url("https://i.imgur.com/qsAsm86.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card10
{
  background-image: url("https://i.imgur.com/7lpeiuK.jpg");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}

.card11
{
  background-image: url("https://i.imgur.com/IBNRT1o.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}
.card12
{
  background-image: url("https://i.imgur.com/GI4BPDU.png");
  background-repeat: no-repeat;
  background-size: 280px 200px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card1 img
{
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 600px) 
{
  body
  {
    overflow: hidden;
  }

  #video
  {
    width: 100%;
    height: auto;
  }

  .video_comp
  {
    top: 28%;
    left: 54%;
    z-index: 1;
  }

  .cards
  {
    width: 420px;
    height: 300px;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .row
  {
    margin-top: -15%;
  }

  .column
  {
    margin-left: 15%;
    width: 65%;
  }

  .l_right
  {
    position: absolute;
    bottom: 0;
   left: 40%;
  }
}
