*{
  padding: 0;
  margin: 0;
}

#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('https://media.giphy.com/media/feN0YJbVs0fwA/giphy.gif') no-repeat center;
  z-index: 99999;
}

/*animate page*/
.animate-in {
    -webkit-animation: fadeIn .8s ease-in;
    animation: fadeIn .8s ease-in;
}

.animate-out {
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



body
{
  padding: 0;
  margin: 0;
}

html 
{
  font-family: 'Open Sans', sans-serif;
}

#mainnav 
{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;    
}

#mainnav li 
{
  
  position: relative;
  display: none;
}

#mainnav a 
{
  color: white;   
  text-decoration: none;
  font-size: 2.5em;
} 

#mainnav ul li
{
  list-style: none;
  margin-top: -50px;          
}

.hamb 
{
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 1.5em;
  z-index: 1;
}

.hamb a 
{
  color: #000;
  text-decoration: none;
}

html, body, .hero 
{
  height: 100%;
}

.hero h1 
{
  font-size: 5em;
  text-align: center;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  width: 100%;
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#bubble 
{
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: fixed;
  display: none;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}
     

.gap1
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-60%, -50%);
}

        
.hero h1 span
{
  font-size: 90px;
  letter-spacing: 4;
  margin-left: -30px;
  color: orange;
}

.center
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 53%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.b_right
{
  position: fixed;
  bottom: 10px;
  right: 40px;
}

.l_right
{
  position: fixed;
  bottom: 10px;
  left: 40px;
}


.t_left
{
  position: fixed;
  top: 10px;
  left: 40px;
}

.t_right
{
  position: fixed;
  top: 20px;
  right: 50px;  
}

.l_right a, .b_right a, .t_right a, .t_left a
{
  text-decoration: none;
  color: black;
}


.link {
  position: relative;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.link:before,
.link:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 50%;
  background: #4ECA78;
  top: calc(50% + 2px);
  transition: transform .3s cubic-bezier(.5,.5,0,1);
}

.link:before {
  left: 0;
  transform: translateX(calc(-100% - 10px)) scaleX(0);
  transform-origin: left;
}

.link:after {
  right: 0;
  transform: translateX(calc(100% + 10px)) scaleX(0);
  transform-origin: right;
}

.link:hover:before {
  transform: translateX(calc(-100% - 10px)) scaleX(1);
  transform-origin: right;
}

.link:hover:after {
  transform: translateX(calc(100% + 10px)) scaleX(1);
  transform-origin: left;
}
.video h3
{
  text-align: center;
  margin-left: -10%;
}
@media only screen and (max-width: 600px) 
{
  #video
  {
    width: 300px;
  }

  .gap1
  {
    font-size: 10px;
  }
}
